<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>An Acronym finder</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>An Acronym finder</h1>
  </header>
  <p>Catherine wanted to put a glossary in her thesis. To help find all the acronyms in her latex files I wrote this two line <a href="Ruby.html">ruby</a> script, maybe you will find it useful as well.</p>
<pre><code>#/usr/bin/ruby
# Usage: ruby acronymfinder.rb filename.tex
text = IO.readlines(ARGV[0]).join
puts text.scan(/\b[A-Z]+\b/).uniq.sort
</code></pre>

</body>
</html>
