<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Applescript to send message to 30boxes</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Applescript to send message to 30boxes</h1>
  </header>
  <p>I find the ability to forward messages to <a href="http://www.30boxes.com">www.30boxes.com</a> and have them added to my calendar extremely useful.</p>
<p>I created an applescript to slightly automate the process:</p>
<pre><code>tell application "Mail" 
    set theMessages to the selection
    repeat with thisMessage in theMessages
        display dialog "30 Boxes subject:" default answer (thisMessage's subject as string)
        set theSubject to text returned of result
        set newMessage to make new outgoing message
        tell newMessage
            set subject to theSubject
            set content to thisMessage's content
            make new to recipient with properties {address:"add@30boxes.com"}
        end tell
        send newMessage
        delete newMessage
    end repeat
end tell
</code></pre>

</body>
</html>
