<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Review: Predictably Irrational, HarperCollins</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Book Review: Predictably Irrational, HarperCollins</h1>
  </header>
  <p>Plus:</p>
<ul>
<li>Demonstrates how to popularise academic work without sacrificing careful mention of the authors, method and results</li>
<li>Demonstrates how small, simple experiments can reveal new knowledge</li>
</ul>

</body>
</html>
