<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cildo Meireles</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Cildo Meireles</h1>
  </header>
  <p>Saw an <a href="http://www.tate.org.uk/modern/exhibitions/cildomeireles/default.shtm">exhibition by Cildo Meireles at the Tate Modern</a>. Fantastic. Inventive. Creepy. Especially walking on broken glass and wading through a forest of meter rules:</p>
<p><img src="http://www.tate.org.uk/modern/exhibitions/cildomeireles/images/big/meireles12.jpg" alt=""></p>

</body>
</html>
