<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>College work</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>College work</h1>
  </header>
  <ul>
<li>Supervising – Supervising maths for engineers for Caius college. In the past I’ve also supervised materials for Clare engineers.</li>
<li>(now ex) Vice president on the Clare MCR. Principally doing rent negotiation stuff.</li>
<li>Library Invigilation – Says it all really.</li>
</ul>

</body>
</html>
