<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Early experiences with Active Resource</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Early experiences with Active Resource</h1>
  </header>
  <p>Last updated 23:04 BST Fri 30 June.</p>
<p>At the recent RailsConf David Heinemeier Hansson announced his ideas for an active resource library in <a href="http://www.rubyonrails.com">rails</a>. His slides are available <a href="http://www.loudthinking.com/lt-files/worldofresources.pdf">here</a>.</p>
<p>Unfortunately the early version he checked into the <a href="http://dev.rubyonrails.org/browser/trunk/activeresource">rails edge repository</a> doesn’t quite match his slides.</p>
<p>Below are my (in progress) notes on getting it to work.</p>
<h2>Pre-requisites</h2>
<p>You need edge <a href="/view/Rails.html">rails</a>: <code>rake rails:freeze:edge</code></p>
<p>You need some rest-ful type routes. I’ve used: <code>script/plugin install simply_restful</code></p>
<p>You need a controller that has the same name as your model (e.g. PeopleController) with index, new, create, show, edit, update and delete methods. Each of these needs to respond sensibly to xml requests, e.g.:</p>
<pre><code>def show
    @patch = Patch.find(params[:id])
    respond_to do |format|
      format.html
      format.xml { render :xml =&gt; @patch.to_xml }
    end
  end
</code></pre>
<h2>Initialization</h2>
<p>The example that DHH gave:</p>
<pre><code>Person = ActiveResource::Struct.new do |person|
  person.uri = "http://api.myremote.com/people" 
  person.credentials :name =&gt; "me", :password =&gt; "password" 
end
</code></pre>
<p>What works in the code:</p>
<pre><code>Person = ActiveResource::Struct.create
Person.site = "http://api.myremote.com/people"
</code></pre>
<h2>Get</h2>
<p>You can then get an object:</p>
<pre><code>p = Person.find 1
</code></pre>
<p>There is an error if you try and <code>find(:all)</code> and no objects exists.</p>
<h2>Put / Update</h2>
<p>Saving doesn’t work, because ActiveResource doesn’t set the content-type. Adding this at the start of the request method in <a href="http://dev.rubyonrails.org/browser/trunk/activeresource/lib/active_resource/connection.rb#L60">ActiveResource::Connection</a> seems to help:</p>
<pre><code>arguments &lt;&lt; { 'content-type' =&gt; 'application/xml' }
</code></pre>
<h2>Post / Create</h2>
<p>Creating a record doesn’t work, as <code>Person.save</code> currently goes straight to the put method.</p>
<p>I made this changes to get a create function:</p>
<p><a href="http://dev.rubyonrails.org/browser/trunk/activeresource/lib/active_resource/base.rb#L65">ActiveResource::Base</a></p>
<pre><code>def save
    id ? update : create
end
</code></pre>
<pre><code>def create
  attributes["id"] = connection.post(self.class.collection_path, to_xml)
end
</code></pre>
<p><a href="http://dev.rubyonrails.org/browser/trunk/activeresource/lib/active_resource/connection.rb#L54">ActiveResource::Connection</a></p>
<pre><code>def post(path, body)
  response = request(:post, path, body)
  return response['Location'][/\/([^\/]*?)$/,1] # The id
end
</code></pre>

</body>
</html>
