<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>If you are mentally ill, what is the probability that you are a murderer?</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>If you are mentally ill, what is the probability that you are a murderer?</h1>
  </header>
  <p>With regard to the proposed mental health bill going through the UK parliament today:</p>
<p>I find it interesting that according to the <a href="http://www.dh.gov.uk/en/Policyandguidance/Healthandsocialcaretopics/Mentalhealth/DH_4132141">Department of Health</a> ministerial statement: 1 in 6 people suffer from a mental illness in a given year.</p>
<p>According to another <a href="http://www.gnn.gov.uk/environment/fullDetail.asp?ReleaseID=267945&NewsAreaID=2&NavigatedFromDepartment=False">Department of Health</a> statement 50 homicides a year are committed by the mentally ill. Given there are roughly <a href="http://www.crimestatistics.org.uk/output/Page40.asp">800</a> homicides a year in the UK that means 1 in 16 homicidal people are mentally ill.</p>
<p>Less than the going rate in the population. So, rational people are more likely to kill than the mad.</p>
<p>But any little helps eh? and if you are one of the 14,000 people a year who will have their liberty constrained under the bill (A BBC <a href="http://news.bbc.co.uk/1/hi/uk_politics/6558529.stm">figure</a>, no idea as to the source) at least we can be 99.6% sure that you are not about to kill someone.</p>
<p>(No doubt there are definitional problems that mean all these statistics are incorrect).</p>

</body>
</html>
