<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Key questions about sustainable development</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Key questions about sustainable development</h1>
  </header>
  <p>I’m using this page to jot down what I think are the key debates in sustainable development. Let me know at <a href="mailto:tamc2@cam.ac.uk">tamc2@cam.ac.uk</a> if you have any additions.</p>
<h2>What are we sustaining?</h2>
<p>Economists say utility, which I guess translates as ‘happiness’. But are we trying to maintain:</p>
<ul>
<li>the world total happiness?</li>
<li>the world mean happiness?</li>
<li>the world median happiness?</li>
<li>the world minimum happiness?</li>
<li>our lifetime total happinesss?</li>
<li>our instantaneous happiness?</li>
</ul>
<h2>Why should we bother?</h2>
<p>Could be based on theories of justice, which base around, what would you want to be the case if you didn’t know when or where you were going to live.</p>
<p>Could be based around self interest. There is a great deal of uncertainty about when environmental or social collapse could take place. Therefore there is a chance it could be in your lifetime.</p>
<h2>Should we value future generations needs as much as our own, or a little less?</h2>
<ul>
<li>Theories of justice might imply we should value future generations needs as much as our own.</li>
<li>But, this ignores the risk that something other than the enironment will kill us all.</li>
<li>It also ignores innovation, which may make it possible for future generations to do more with less.</li>
</ul>
<h2>Why development (ie why worry about sustaining other people)?</h2>
<ul>
<li>Theories of justice – what if you didn’t know who you would be born as? or</li>
<li>Self interest – more brains needed to solve the problem or</li>
<li>Self interest – its not really about the people, but about the environment, and we need better developed people in order to protect the bits of the global ecosystem that are in developing areas or</li>
<li>Self interest – they will be the ancestors of your kids as well as you.</li>
</ul>
<h2>Are resources a problem?</h2>
<ul>
<li>No. Conservation of matter.</li>
<li>Yes. Need matter in useful forms.</li>
<li>Yes. Need matter in useful concentrations in useful locations.</li>
<li>No. Given energy we can undo anything we do.</li>
<li>Yes. Do we know how to undo?</li>
<li>Yes. Have we enough power to undo?</li>
</ul>
<h2>Is energy a problem?</h2>
<ul>
<li>No. Conservation of energy.</li>
<li>Yes. Useful forms of energy.</li>
<li>Yes. Pollution caused in energy conversion.</li>
<li>No. Lots of solar energy available.</li>
<li>Yes. Can’t turn much of it into useful energy.</li>
<li>Maybe. Fusion?</li>
<li>The hyrdogen economy—that’s about better batteries, not energy.</li>
</ul>
<h2>Is pollution a problem?</h2>
<ul>
<li>No. We aren’t dying yet / very little of the planet damaged.</li>
<li>Yes. Ecosystem is chaotic and non-linear so who knows how close to collapse?</li>
<li>No. We can repair it.</li>
<li>Yes. Chaotic and non-linear means unlikely to be directly reversible.</li>
<li>No. We can replace it (or move planet)</li>
<li>Maybe. We can only manage to sustain a biosphere for a few months…</li>
</ul>

</body>
</html>
