<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Morphological analysis script</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css" media="screen">
		@import url( ../Static/style.css );
	</style>
	<link rel='alternate' type='application/rss+xml' title='RSS' href='http://tom.counsell.org/rss/MorphologicalAnalysisScript' />
	<script src='http://tom.counsell.org/Static/newpage.js' type='text/javascript'></script>
		
</head>

<body onkeypress='hotkey(event,"http://tom.counsell.org/edit/");'>
<div id="wrapper">
	<div id="masthead">
		<div id="blogtitle" >
			Morphological analysis script
		</div>
	</div>
	
	<div id="insideWrapper">
	
		<div id="sidebar">
			<div id="sidebox">
				<div class="title"><a href="../index.html" title="Tom Counsell's Soks Wiki">Tom Counsell's Soks Wiki</a></div>
			</div>
			<br />
	
			<div id="sidebox1">
				<div class="title">Key Pages</div>
				
				<a href='../index.html' class='automatic'>Home Page</a> <br/>
<a href='SiteIndex.html' class='automatic'>Site Index</a> <br/>
<a href='RecentChangesToThisSite.html' class=''>Recent Changes</a> <br/>
			</div>
			<br />

			<div id="sidebox4">
				<form style="padding: 0px; margin-top: 0px; margin-bottom: 0px;" id="searchform" method="get" action="http://tom.counsell.org/find/MorphologicalAnalysisScript">
					<div class="title">Search:</div>
					<p style="padding: 0px; margin-top: 0px; margin-bottom: 0px;">
						<input type="text" class="input" name="regex" id="search" size="15" />
						<input name="submit" type="submit" tabindex="5" value="GO" />
					</p>
				</form>
			</div>
			<br />
			
			<div id='adbox'>
				<div class='title'>Adverts</div>
				<script type="text/javascript"><!--
				google_ad_client = "pub-1825629230893907";
				google_ad_width = 120;
				google_ad_height = 90;
				google_ad_format = "120x90_0ads_al";
				google_ad_channel = "";
				google_color_border = "000000";
				google_color_bg = "000000";
				google_color_link = "FFFFFF";
				google_color_text = "CCCCCC";
				google_color_url = "999999";
				//-->
				</script>
				<script type="text/javascript"
				  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				  </script>
<p>
</p>
			</div>
<br/>			
			<div id="sidebox2">
				<div class="title">Backlinks</div>
				
					
					
					
				
			</div>
			<br />
	
			<div id="sidebox3">
				<div class="title">Other Pages</div>
				<a href='History.html' class='automatic'>History</a> <br/>
<a href='Phd.html' class='automatic'>PhD</a> <br/>
<a href='StuffIDoAroundTheDepartment.html' class=''>Department work</a> <br/>
<a href='CollegeWork.html' class='automatic'>College work</a> <br/>
<a href='Programming.html' class='automatic'>Programming</a> <br/>
			</div>
			<br />
			

	
			<div id="sidebox5">
				<div class="title">Links</div>
				<a href='http://tom.counsell.org/edit/TypeATitleHere'>Add a new page</a><br/>
				<a href='http://tom.counsell.org/edit/PictureOfTypeATitleHere'>Upload a new picture</a><br/>
				<a href='http://tom.counsell.org/edit/AttachedTypeATitleHere'>Upload a new file</a><br/>
			</div>
			<br />
	
			<div id="sidebox6">
				<div class="title"><a href='http://www.soks.org'>Soks</a> Powered</div>
				<a href='http://www.soks.org'>Soks</a> is a wiki written in ruby
			</div>  
			<br />
	</div>
	
	<div id="contentwrapper">
		<div id="content">
			<br />
			<div class="post">
			<h1>Morphological (combinatorial) analysis script</h1>


	<p>Zwicky proposed an approach to problem solving (described <a href='http://www.swemorph.com/pdf/new-methods.pdf' class=''>in this pdf</a>) that is rather tedious to do by hand.  The script below helps. It requires <a href='Ruby.html' class='automatic'>ruby</a> 1.8+.  If you want to know more about Morphological Analysis, take a look at the Swedish Morphological Society&#8217;s site at <a href='http://www.swemorph.com' class=''>www.swemorph.com</a></p>


<pre>
<code>
#!/usr/bin/ruby
# File name: zwicky.rb
# (c) 2005 Tom Counsell tom@counsell.org
# Licenced under the GPL
#
# Helps with Zwicky's morphological analysis
# See http://www.swemorph.com/pdf/new-methods.pdf for details of that.
#
# Requires ruby 1.8
#
# To use: ruby zwicky.rb parameterfile constraintfile
#
# The parameterfile is a YAML text file formated like this:
# Order:
# - Reflect
# - Add reflector
# - Pigment
# - Polymer
# - Paper surface
# 
# Reflect:
#  - Off air
#  - Off polymer
#  - Off pigment
#  - Off paper top
#  - Off paper bulk
#
# The constraint file is optional.  
# It lists incompatible states.
# It is a YAML text file formated like this:
# Off air:
#  - No addition
#  - Above pigment
#  - Above paper top
#  - Above paper bulk
# 
# Off polymer:
#  - Above polymer
#  - Remove polymer
#  - Remove paper
#  - Above paper top
#   
# Let me know of any bugfixes or suggestions
require 'yaml'

class Parameter

    attr_reader :previous_parameter, :name, :states

    def initialize( previous_parameter, name, states )
        @name, @states = name, states
        @previous_parameter = previous_parameter
        @current_state = 0
    end

    def state
        states[ @current_state ]
    end

    def next_state
        @current_state += 1
        if @current_state &gt;= states.size
            return :end_of_sequence if previous_parameter == :no_previous_parameter
            @current_state = 0
            previous_parameter.next_state 
        end
    end
end

class Problem
    include Enumerable

    attr_reader :parameters, :constraints

    def initialize( parameters, constraints, order )
        @parameters = []
        @constraints = constraints
        fully_constrain
        previous_parameter = :no_previous_parameter
        order.each do |name|
            states = parameters[ name ]
            @parameters &lt;&lt; (previous_parameter = Parameter.new(previous_parameter,name,states))
        end
    end

    def names
        parameters.map { |parameter| parameter.name }
    end

    def solution
        parameters.map { |parameter| parameter.state }
    end

    def number_of_solutions
        parameters.inject(1) { |total,parameter| total = total * parameter.states.size }
    end

    def next_solution
        parameters.last.next_state
    end

    def each
        yield solution until next_solution  :end_of_sequence
    end

    def solution_valid?
        solution.each do |state|
            next unless @constraints.has_key?( state )
            return false unless (@constraints[ state ] &#38; solution).size  0
        end
        true
    end

    def fully_constrain
        constraints.each do |stateA,otherstates|
            otherstates.each do |otherstate|
                unless constraints[otherstate] &#38;&#38; constraints[otherstate].include?(stateA)
                    constraints[otherstate] ||= []
                    constraints[otherstate] << stateA
                end
            end
        end
    end

    def constraints_as_grid
        grid = []
        row = [&#8216;Parameter&#8217;,&#8217;&#8217;,]
        parameters.each do |parameter|
            row << parameter.name
            (parameter.states.size &#8211; 1).times { row << &#8217;&#8217; }
        end
        grid << row
        row = [&#8217;&#8217;,&#8217;States&#8217;]
        parameters.each do |parameter|
            parameter.states.each do |state|
                row << state
            end
        end
        grid << row
        parameters.each do |parameterA|
            pname = parameterA.name
            parameterA.states.each do |stateA|
                row = [pname,stateA]
                pname = &#8217;&#8217;
                parameters.each do |parameterB|
                    parameterB.states.each do |stateB|
                        row << (constraints[stateA].include?(stateB) ? &#8216;x&#8217; : &#8217;&#8217;)
                    end
                end
                grid << row
            end
        end
        grid 
    end

	<p>end</p>


	<p>parameters = YAML::load(IO.readlines(ARGV<sup><a href="MorphologicalAnalysisScript.html#fn0">0</a></sup>).join)
order = parameters[&#8216;Order&#8217;] || parameters.keys
parameters.delete(&#8216;Order&#8217;)</p>


	<p>constraints = ARGV<sup><a href="MorphologicalAnalysisScript.html#fn1">1</a></sup> ? YAML::load(IO.readlines(ARGV<sup><a href="MorphologicalAnalysisScript.html#fn1">1</a></sup>).join) : {}</p>


	<p>problem = Problem.new( parameters, constraints, order )</p>


	<p>puts &#8220;Morphological Box&#8221;</p>


	<p>problem.parameters.each do |parameter|
    puts &#8221;#{parameter.name}\t#{parameter.states.join(&#8221;\t&#8221;)}&#8221; 
end</p>


	<p>puts 
puts &#8220;Constraints&#8221;</p>


	<p>problem.constraints_as_grid.each do |row|
    puts row.join(&#8221;\t&#8221;)
end</p>


	<p>puts
puts &#8220;Alternatives&#8221;</p>


	<p>puts &#8220;Number\t#{problem.names.join(&#8221;\t&#8221;)}&#8221; 
total_valid = 0</p>


	<p>problem.each_with_index do |solution,index|
    if problem.solution_valid?
        puts &#8221;#{index+1}\t#{solution.map{ |state| state =~ /^leave/i ? &#8221;-&#8221; : state }.join(&#8221;\t&#8221;)}&#8221; 
        total_valid += 1
    end
end</p>


	<p>puts &#8221;&#8221; 
puts &#8221;#{problem.number_of_solutions} solutions, of which #{total_valid} valid.&#8221;</p>


	<p></code>
</pre></p>

<div class='command'>
	<a href='http://tom.counsell.org/edit/MorphologicalAnalysisScript' accesskey="E" >Edit this page</a> or
	watch for changes using <a href='http://tom.counsell.org/rss/MorphologicalAnalysisScript'>RSS</a>.
</div>
			<br />
		</div>
		<br />
	</div>
</div>



<div id="footer">

 <br />From an original theme on <a class="footerLink" href='http://wordpress.org' title='Proudly powered by WordPress, state-of-the-art semantic personal publishing platform'>WordPress 1.5</a>. <br />

This theme started out as <a class="footerLink" href="http://www.thoughtmechanics.com/blog/templates">Benevolence</a><br /> and ended up as  <a class="footerLink" href="http://theloo.org/2005/03/06/borderline-chaos/">Borderline Chaos (1.9)</a>.  <br />It validates in <a class="footerLink" href="http://validator.w3.org/check/referer">XHTML</a> and <a class="footerLink" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> minus plugins.
<br />

<a class="footerLink" href="http://www.managedtasks.com/wpthemes/blog">WordPress 1.5 Themes</a> is &copy; the Author. 


<br /><br />

</div>



</div>


</div>
</body>

</html>
