<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Namesakes</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Namesakes</h1>
  </header>
  <p>Not the counsell you are looking for? Here are some Counsell’s that are semantically close (but not known) to me:</p>
<ul>
<li><a href="http://www.rose-hulman.edu/~counsets/">Tom Counsell</a>, another engineer, studying at Rose Hulman college in the US.</li>
<li>Damian Counsell who also is [was?] in Camrbidge, UK. See this <a href="http://www.pootergeek.com/?p=1684">blog</a> of his.</li>
</ul>

</body>
</html>
