<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OtherPages</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>OtherPages</h1>
  </header>
  <p><a href="History.html">History</a><br><a href="Phd.html">PhD</a><br><a href="StuffIDoAroundTheDepartment.html">Department work</a><br><a href="CollegeWork.html">College work</a><br><a href="Programming.html">Programming</a></p>

</body>
</html>
