<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rants</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Rants</h1>
  </header>
  <p>Below are various rants. They may once have represented my opinion. They probably don’t any more. I’m fickle.</p>
<ul>
<li><a href="AllocatingCarbonEmissions.html">Allocating carbon emissions</a></li>
<li><a href="IfYouAreMentallyIllWhatIsTheProbabilityYouAreAMurderer.html">If you are mentally ill, what is the probability you are a murderer?</a></li>
<li><a href="KeyQuestionsAboutSustainableDevelopment.html">Key questions about sustainable development</a></li>
<li><a href="RoadsGoodForTheEnvironment.html">Roads good for the environment</a></li>
<li><a href="Suvs.html">SUVs</a></li>
</ul>

</body>
</html>
