<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecentChangesToThisSite</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>RecentChangesToThisSite</h1>
  </header>
  <h2>Recent Changes to This Site</h2>
<p>A RSS feed of changes to this site is available <a href="../listrss/RecentChangesToThisSite">here</a></p>
<h2>Today</h2>
<ul>
<li>14:42 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1338403328.html">changes</a>)</li>
</ul>
<h2>31 May 2011</h2>
<ul>
<li>15:20 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1306869610.html">changes</a>)</li>
</ul>
<h2>06 Mar 2011</h2>
<ul>
<li>05:13 – <a href="HowToContactMe.html">How to contact me</a> revised by tamc (<a href="../revision/HowToContactMe%3Ftime=1299406419.html">changes</a>)</li>
<li>05:00 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1299405604.html">changes</a>)</li>
<li>04:58 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1299405496.html">changes</a>)</li>
<li>04:55 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1299405358.html">changes</a>)</li>
</ul>
<h2>02 Aug 2010</h2>
<ul>
<li>15:10 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1280776231.html">changes</a>)</li>
</ul>
<h2>20 Apr 2010</h2>
<ul>
<li>14:10 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1271787033.html">changes</a>)</li>
</ul>
<h2>12 Feb 2010</h2>
<ul>
<li>12:50 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1265997026.html">changes</a>)</li>
</ul>
<h2>15 Nov 2009</h2>
<ul>
<li>15:35 – <a href="Publications.html">publications</a> revised by tamc (<a href="../revision/Publications%3Ftime=1258317337.html">changes</a>)</li>
</ul>
<h2>03 Jul 2009</h2>
<ul>
<li>09:06 – <a href="HowToContactMe.html">How to contact me</a> revised by tamc (<a href="../revision/HowToContactMe%3Ftime=1246626379.html">changes</a>)</li>
</ul>
<h2>09 Apr 2009</h2>
<ul>
<li>07:47 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1239277664.html">changes</a>)</li>
<li>07:43 – <a href="Publications.html">publications</a> revised by tamc (<a href="../revision/Publications%3Ftime=1239277399.html">changes</a>)</li>
<li>07:35 – <a href="Phd.html">PhD</a> revised by tamc (<a href="../revision/Phd%3Ftime=1239276911.html">changes</a>)</li>
</ul>
<h2>30 Dec 2008</h2>
<ul>
<li>15:50 – <a href="CildoMeireles.html">Cildo Meireles</a> revised by tamc (<a href="../revision/CildoMeireles%3Ftime=1230670240.html">changes</a>)</li>
</ul>
<h2>26 Oct 2008</h2>
<ul>
<li>16:33 – <a href="Publications.html">publications</a> revised by tamc (<a href="../revision/Publications%3Ftime=1225053206.html">changes</a>)</li>
<li>16:28 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1225052893.html">changes</a>)</li>
</ul>
<h2>17 Jun 2008</h2>
<ul>
<li>17:10 – <a href="BookReviewDanAriely2008PredictablyIrrationalHarpercollins.html">Book Review: Dan Ariely (2008) Predictably Irrational, HarperCollins</a> revised by tamc (<a href="../revision/BookReviewDanAriely2008PredictablyIrrationalHarpercollins%3Ftime=1213737018.html">changes</a>)</li>
</ul>
<h2>18 Nov 2007</h2>
<ul>
<li>15:52 – <a href="Phd.html">PhD</a> revised by tamc (<a href="../revision/Phd%3Ftime=1195419154.html">changes</a>)</li>
</ul>
<h2>16 Nov 2007</h2>
<ul>
<li>02:31 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1195198261.html">changes</a>)</li>
<li>02:27 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1195198037.html">changes</a>)</li>
<li>02:26 – <a href="Phd.html">PhD</a> revised by tamc (<a href="../revision/Phd%3Ftime=1195197968.html">changes</a>)</li>
<li>02:25 – <a href="Publications.html">publications</a> revised by tamc (<a href="../revision/Publications%3Ftime=1195197905.html">changes</a>)</li>
</ul>
<h2>16 Apr 2007</h2>
<ul>
<li>08:06 – <a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a> revised by tamc (<a href="../revision/StuffIDoAroundTheDepartment%3Ftime=1176725184.html">changes</a>)</li>
<li>08:04 – <a href="Rants.html">Rants</a> revised by tamc (<a href="../revision/Rants%3Ftime=1176725042.html">changes</a>)</li>
<li>08:00 – <a href="IfYouAreMentallyIllWhatIsTheProbabilityYouAreAMurderer.html">If you are mentally ill, what is the probability you are a murderer?</a> revised by tamc (<a href="../revision/IfYouAreMentallyIllWhatIsTheProbabilityYouAreAMurderer%3Ftime=1176724855.html">changes</a>)</li>
</ul>
<h2>15 Apr 2007</h2>
<ul>
<li>08:14 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1176639270.html">changes</a>)</li>
</ul>
<h2>13 Apr 2007</h2>
<ul>
<li>05:40 – <a href="RoadsGoodForTheEnvironment.html">Roads good for the environment</a> revised by tamc (<a href="../revision/RoadsGoodForTheEnvironment%3Ftime=1176457235.html">changes</a>)</li>
</ul>
<h2>13 Dec 2006</h2>
<ul>
<li>07:29 – <a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a> revised by tamc (<a href="../revision/StuffIDoAroundTheDepartment%3Ftime=1166012975.html">changes</a>)</li>
</ul>
<h2>12 Sep 2006</h2>
<ul>
<li>05:18 – <a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a> revised by tamc (<a href="../revision/StuffIDoAroundTheDepartment%3Ftime=1158052723.html">changes</a>)</li>
<li>05:17 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1158052668.html">changes</a>)</li>
</ul>
<h2>30 Jun 2006</h2>
<ul>
<li>18:23 – <a href="EarlyExperiencesWithActiveResource.html">Early experiences with Active Resource</a> revised by tamc2 (<a href="../revision/EarlyExperiencesWithActiveResource%3Ftime=1151706188.html">changes</a>)</li>
<li>17:14 – <a href="Programming.html">Programming</a> revised by tamc2 (<a href="../revision/Programming%3Ftime=1151702075.html">changes</a>)</li>
<li>17:13 – <a href="CollegeWork.html">College work</a> revised by tamc2 (<a href="../revision/CollegeWork%3Ftime=1151702008.html">changes</a>)</li>
<li>17:11 – <a href="Publications.html">publications</a> revised by tamc2 (<a href="../revision/Publications%3Ftime=1151701906.html">changes</a>)</li>
</ul>
<h2>03 May 2006</h2>
<ul>
<li>08:28 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1146659300.html">changes</a>)</li>
<li>08:28 – <a href="ApplescriptToSendMessageTo30boxes.html">Applescript to send message to 30boxes</a> revised by tamc (<a href="../revision/ApplescriptToSendMessageTo30boxes%3Ftime=1146659280.html">changes</a>)</li>
</ul>
<h2>23 Apr 2006</h2>
<ul>
<li>13:22 – <a href="Rails.html">Rails</a> revised by tamc (<a href="../revision/Rails%3Ftime=1145812939.html">changes</a>)</li>
<li>13:20 – <a href="Darcs.html">darcs</a> revised by tamc (<a href="../revision/Darcs%3Ftime=1145812833.html">changes</a>)</li>
<li>13:10 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1145812247.html">changes</a>)</li>
<li>13:08 – <a href="AccessingActioncontrollerFromActionmailerUsingIntegrationSession.html">Accessing ActionController from ActionMailer using Integration::Session</a> revised by tamc (<a href="../revision/AccessingActioncontrollerFromActionmailerUsingIntegrationSession%3Ftime=1145812138.html">changes</a>)</li>
<li>13:06 – <a href="ARakeTaskToSetTheFilePermissionsAndOwnershipInARailsProject.html">A rake task to set the file permissions and ownership in a rails project</a> revised by tamc (<a href="../revision/ARakeTaskToSetTheFilePermissionsAndOwnershipInARailsProject%3Ftime=1145811970.html">changes</a>)</li>
<li>13:02 – <a href="ABoringFileForDarcsAndRails.html">A boring file for darcs and rails</a> revised by tamc (<a href="../revision/ABoringFileForDarcsAndRails%3Ftime=1145811752.html">changes</a>)</li>
</ul>
<h2>03 Apr 2006</h2>
<ul>
<li>07:34 – <a href="Phd.html">PhD</a> revised by tamc (<a href="../revision/Phd%3Ftime=1144064061.html">changes</a>)</li>
<li>07:18 – <a href="Publications.html">publications</a> revised by tamc (<a href="../revision/Publications%3Ftime=1144063125.html">changes</a>)</li>
</ul>
<h2>13 Feb 2006</h2>
<ul>
<li>05:47 – <a href="Ruby.html">RUBY</a> revised by tamc (<a href="../revision/Ruby%3Ftime=1139827657.html">changes</a>)</li>
<li>05:45 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1139827555.html">changes</a>)</li>
</ul>
<h2>03 Feb 2006</h2>
<ul>
<li>11:13 – <a href="Publications.html">publications</a> revised by tamc (<a href="../revision/Publications%3Ftime=1138983226.html">changes</a>)</li>
<li>10:02 – <a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a> revised by tamc (<a href="../revision/StuffIDoAroundTheDepartment%3Ftime=1138978928.html">changes</a>)</li>
<li>09:58 – <a href="AllocatingCarbonEmissions.html">Allocating carbon emissions</a> revised by tamc (<a href="../revision/AllocatingCarbonEmissions%3Ftime=1138978726.html">changes</a>)</li>
<li>09:42 – <a href="Phd.html">PhD</a> revised by tamc (<a href="../revision/Phd%3Ftime=1138977773.html">changes</a>)</li>
<li>09:42 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1138977753.html">changes</a>)</li>
</ul>
<h2>12 Nov 2005</h2>
<ul>
<li>15:37 – <a href="Programming.html">Programming</a> revised by tamc2 (<a href="../revision/Programming%3Ftime=1131827865.html">changes</a>)</li>
</ul>
<h2>19 Sep 2005</h2>
<ul>
<li>16:36 – <a href="Namesakes.html">Namesakes</a> revised by tamc (<a href="../revision/Namesakes%3Ftime=1127162205.html">changes</a>)</li>
<li>16:36 – <a href="H1Namesakes.html">h1. Namesakes</a> revised by tamc (<a href="../revision/H1Namesakes%3Ftime=1127162205.html">changes</a>)</li>
</ul>
<h2>17 Sep 2005</h2>
<ul>
<li>15:32 – <a href="H1Namesakes.html">h1. Namesakes</a> revised by tamc (<a href="../revision/H1Namesakes%3Ftime=1126985579.html">changes</a>)</li>
</ul>
<h2>02 Sep 2005</h2>
<ul>
<li>07:43 – <a href="StuffForSaleGiveaway.html">Stuff for sale/giveaway</a> revised by tamc (<a href="../revision/StuffForSaleGiveaway%3Ftime=1125661429.html">changes</a>)</li>
</ul>
<h2>01 Sep 2005</h2>
<ul>
<li>15:42 – <a href="StuffForSaleGiveaway.html">Stuff for sale/giveaway</a> revised by tamc (<a href="../revision/StuffForSaleGiveaway%3Ftime=1125603739.html">changes</a>)</li>
<li>15:39 – <a href="PictureOfIkeaDrawersThatIAmSelling.html">Picture of IKEA drawers that I am selling</a> revised by tamc (<a href="../revision/PictureOfIkeaDrawersThatIAmSelling%3Ftime=1125603556.html">changes</a>)</li>
<li>15:37 – <a href="PictureOfIkeaChairThatIAmSelling.html">Picture of IKEA chair that I am selling</a> revised by tamc (<a href="../revision/PictureOfIkeaChairThatIAmSelling%3Ftime=1125603438.html">changes</a>)</li>
<li>08:26 – <a href="KeyQuestionsAboutSustainableDevelopment.html">Key questions about sustainable development</a> revised by tamc (<a href="../revision/KeyQuestionsAboutSustainableDevelopment%3Ftime=1125577592.html">changes</a>)</li>
<li>08:10 – <a href="AnAcronymFinder.html">An acronym finder</a> revised by tamc (<a href="../revision/AnAcronymFinder%3Ftime=1125576635.html">changes</a>)</li>
<li>08:08 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1125576488.html">changes</a>)</li>
</ul>
<h2>09 Aug 2005</h2>
<ul>
<li>11:10 – <a href="KeyQuestionsAboutSustainableDevelopment.html">Key questions about sustainable development</a> revised by tamc (<a href="../revision/KeyQuestionsAboutSustainableDevelopment%3Ftime=1123600224.html">changes</a>)</li>
<li>04:43 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1123577023.html">changes</a>)</li>
<li>04:43 – <a href="TextileToHtml.html">Textile to HTML</a> revised by tamc (<a href="../revision/TextileToHtml%3Ftime=1123576994.html">changes</a>)</li>
<li>04:43 – <a href="AReWriteOfRedclothTextileToHtmlConvertor.html">A re-write of Redcloth textile to html convertor</a> revised by tamc (<a href="../revision/AReWriteOfRedclothTextileToHtmlConvertor%3Ftime=1123576992.html">changes</a>)</li>
</ul>
<h2>08 Aug 2005</h2>
<ul>
<li>08:02 – <a href="MorphologicalAnalysisScript.html">Morphological analysis script</a> revised by tamc (<a href="../revision/MorphologicalAnalysisScript%3Ftime=1123502564.html">changes</a>)</li>
</ul>
<h2>28 Jul 2005</h2>
<ul>
<li>06:16 – <a href="MorphologicalAnalysisScript.html">Morphological analysis script</a> revised by tamc (<a href="../revision/MorphologicalAnalysisScript%3Ftime=1122545775.html">changes</a>)</li>
</ul>
<h2>27 Jul 2005</h2>
<ul>
<li>15:37 – <a href="RecentChangesToThisSite.html">Recent changes to this site</a> revised by tamc (<a href="../revision/RecentChangesToThisSite%3Ftime=1122493025.html">changes</a>)</li>
<li>15:32 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1122492727.html">changes</a>)</li>
<li>15:23 – <a href="PictureOfTomCounsell.html">Picture of Tom Counsell</a> revised by tamc (<a href="../revision/PictureOfTomCounsell%3Ftime=1122492197.html">changes</a>)</li>
<li>15:19 – <a href="SidebarPage.html">Sidebar Page</a> revised by tamc (<a href="../revision/SidebarPage%3Ftime=1122491987.html">changes</a>)</li>
<li>15:18 – <a href="OtherPages.html">Other Pages</a> revised by tamc (<a href="../revision/OtherPages%3Ftime=1122491924.html">changes</a>)</li>
<li>15:06 – <a href="ExcelToLatexTableConvertor.html">Excel to Latex table convertor</a> revised by tamc (<a href="../revision/ExcelToLatexTableConvertor%3Ftime=1122491165.html">changes</a>)</li>
</ul>
<h2>26 Jul 2005</h2>
<ul>
<li>07:47 – <a href="ExcelToLatexTableConvertor.html">Excel to Latex table convertor</a> revised by tamc (<a href="../revision/ExcelToLatexTableConvertor%3Ftime=1122378430.html">changes</a>)</li>
<li>07:37 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1122377849.html">changes</a>)</li>
</ul>
<h2>20 Jul 2005</h2>
<ul>
<li>15:30 – <a href="CitiesAndMemories3.html">Cities and Memories 3</a> revised by tamc (<a href="../revision/CitiesAndMemories3%3Ftime=1121887842.html">changes</a>)</li>
</ul>
<h2>17 Jul 2005</h2>
<ul>
<li>08:22 – <a href="HarryPotter.html">Harry Potter</a> revised by tamc (<a href="../revision/HarryPotter%3Ftime=1121602978.html">changes</a>)</li>
</ul>
<h2>28 Jun 2005</h2>
<ul>
<li>16:40 – <a href="../index.html">Home Page</a> revised by tamc (<a href="../revision/HomePage%3Ftime=1119991253.html">changes</a>)</li>
</ul>
<h2>19 Jun 2005</h2>
<ul>
<li>16:39 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1119213597.html">changes</a>)</li>
</ul>
<h2>08 Jun 2005</h2>
<ul>
<li>06:22 – <a href="Suvs.html">SUVs</a> revised by tamc (<a href="../revision/Suvs%3Ftime=1118226176.html">changes</a>)</li>
</ul>
<h2>17 May 2005</h2>
<ul>
<li>15:24 – <a href="CollegeWork.html">College work</a> revised by tamc2 (<a href="../revision/CollegeWork%3Ftime=1116357864.html">changes</a>)</li>
</ul>
<h2>03 May 2005</h2>
<ul>
<li>11:16 – <a href="PagesBibtex.html">Pages-Bibtex</a> revised by tamc2 (<a href="../revision/PagesBibtex%3Ftime=1115133414.html">changes</a>)</li>
</ul>
<h2>29 Mar 2005</h2>
<ul>
<li>11:04 – <a href="PagesBibtex.html">Pages-Bibtex</a> revised by tamc (<a href="../revision/PagesBibtex%3Ftime=1112112282.html">changes</a>)</li>
<li>10:59 – <a href="Programming.html">Programming</a> revised by tamc (<a href="../revision/Programming%3Ftime=1112111946.html">changes</a>)</li>
<li>10:57 – <a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a> revised by tamc (<a href="../revision/StuffIDoAroundTheDepartment%3Ftime=1112111826.html">changes</a>)</li>
<li>10:50 – <a href="History.html">History</a> revised by tamc (<a href="../revision/History%3Ftime=1112111438.html">changes</a>)</li>
<li>10:47 – <a href="../index.html">Home Page</a> revised by tamc2 (<a href="../revision/HomePage%3Ftime=1112111227.html">changes</a>)</li>
<li>10:46 – <a href="SidebarPage.html">Sidebar Page</a> revised by tamc2 (<a href="../revision/SidebarPage%3Ftime=1112111191.html">changes</a>)</li>
<li>10:46 – <a href="SidebarPageCopy.html">Sidebar Page copy</a> revised by tamc2 (<a href="../revision/SidebarPageCopy%3Ftime=1112111191.html">changes</a>)</li>
<li>10:45 – <a href="SidebarPageCopy.html">Sidebar Page copy</a> revised by the import script (<a href="../revision/SidebarPageCopy%3Ftime=1112111146.html">changes</a>)</li>
<li>10:45 – <a href="ContactMeHowToContactMe.html">contact me : how to contact me</a> revised by the import script (<a href="../revision/ContactMeHowToContactMe%3Ftime=1112111146.html">changes</a>)</li>
<li>10:45 – <a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a> revised by the import script (<a href="../revision/StuffIDoAroundTheDepartment%3Ftime=1112111145.html">changes</a>)</li>
<li>10:45 – <a href="Programming.html">Programming</a> revised by the import script (<a href="../revision/Programming%3Ftime=1112111145.html">changes</a>)</li>
<li>10:45 – <a href="Phd.html">PhD</a> revised by the import script (<a href="../revision/Phd%3Ftime=1112111145.html">changes</a>)</li>
<li>10:45 – <a href="HowToContactMe.html">How to contact me</a> revised by the import script (<a href="../revision/HowToContactMe%3Ftime=1112111145.html">changes</a>)</li>
<li>10:45 – <a href="History.html">History</a> revised by the import script (<a href="../revision/History%3Ftime=1112111145.html">changes</a>)</li>
<li>10:45 – <a href="CollegeWork.html">College work</a> revised by the import script (<a href="../revision/CollegeWork%3Ftime=1112111145.html">changes</a>)</li>
</ul>

</body>
</html>
