<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roads &quot;good for the environment&quot;</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Roads &quot;good for the environment&quot;</h1>
  </header>
  <p>So runs the headline in a WBCSD news item on a <a href="http://www.erf.be/images/IRF_BPC_on_Sustainable_Roads_April_2007.pdf">new report</a> funded, unsurprisingly enough, by the <a href="http://www.erf.be">European Road Federation</a>.</p>
<p>It is interesting what a difference a word makes. The actual press release makes the slightly less controversial claim: “Better roads good for the environment”.</p>
<p>But what does “Better” mean in this context? Looking at the Norwegian <a href="http://www.erf.be/images/Environmental_consequences_of_better_roads_English_Summary.pdf">study</a> that the report cites as its source, better seems to mean ‘quicker for cars’.</p>
<p>So a more appropriate headline might have been “traffic is bad for the environment” which I think we can all agree on, and perhaps even shorten: “traffic is bad”.</p>
<p>So much for headlines.</p>
<p>The headline that I think the European Road Federation were grasping for was “less road capacity does not mean less pollution”, unless less roads results in less cars. A useful point.</p>
<p>They then go and ruin it by trying to claiming that that “The same [Norwegian] study indicated that in a majority of cases, the changes [more road capacity] did not generate new car trips, putting an end to one of the most enduring transport myths”</p>
<p>I’m not sure that myth can be put to an end, given the (English summary) of the study says: “The results of the study show that we get a substantial growth in car traffic when the capacity of the congested urban motorway is increased by one extra lane … and the results more or less emphasizes the “old truth” that when cities are larger than a certain size, it is more or less impossible to solve the traffic problems by increasing the road capacities.”</p>
<hr>
<p>Two other points of note:</p>
<ul>
<li><p>The independent Norwegian study was paid for by the Norwegian Road Federation</p>
</li>
<li><p>The other suggestions in the European Road Federation report look sensible: take into account the environmental impact of new roads, build them in more environmentally sound ways.</p>
</li>
</ul>

</body>
</html>
