<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiteIndex</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>SiteIndex</h1>
  </header>
  <h2>Site Index</h2>
<p><a href="/site-index.html">Site Index</a> was created automatically from pages whose title matches /.*/.</p>
<ul>
<li><a href="ABoringFileForDarcsAndRails.html">A boring file for darcs and rails</a></li>
<li><a href="ARakeTaskToSetTheFilePermissionsAndOwnershipInARailsProject.html">A rake task to set the file permissions and ownership in a rails project</a></li>
<li><a href="AccessingActioncontrollerFromActionmailerUsingIntegrationSession.html">Accessing ActionController from ActionMailer using Integration::Session</a></li>
<li><a href="AllocatingCarbonEmissions.html">Allocating carbon emissions</a></li>
<li><a href="AnAcronymFinder.html">An acronym finder</a></li>
<li><a href="ApplescriptToSendMessageTo30boxes.html">Applescript to send message to 30boxes</a></li>
<li><a href="BookReviewDanAriely2008PredictablyIrrationalHarpercollins.html">Book Review: Dan Ariely (2008) Predictably Irrational, HarperCollins</a></li>
<li><a href="CildoMeireles.html">Cildo Meireles</a></li>
<li><a href="CitiesAndMemories3.html">Cities and Memories 3</a></li>
<li><a href="CollegeWork.html">College work</a></li>
<li><a href="Darcs.html">darcs</a></li>
<li><a href="EarlyExperiencesWithActiveResource.html">Early experiences with Active Resource</a></li>
<li><a href="ExcelToLatexTableConvertor.html">Excel to Latex table convertor</a></li>
<li><a href="HarryPotter.html">Harry Potter</a></li>
<li><a href="History.html">History</a></li>
<li><a href="../index.html">Home Page</a></li>
<li><a href="HowToContactMe.html">How to contact me</a></li>
<li><a href="IfYouAreMentallyIllWhatIsTheProbabilityYouAreAMurderer.html">If you are mentally ill, what is the probability you are a murderer?</a></li>
<li><a href="PictureOfIkeaChairThatIAmSelling.html">Picture of IKEA chair that I am selling</a></li>
<li><a href="PictureOfIkeaDrawersThatIAmSelling.html">Picture of IKEA drawers that I am selling</a></li>
<li><a href="KeyQuestionsAboutSustainableDevelopment.html">Key questions about sustainable development</a></li>
<li><a href="MorphologicalAnalysisScript.html">Morphological analysis script</a></li>
<li><a href="Namesakes.html">Namesakes</a></li>
<li><a href="OtherPages.html">Other Pages</a></li>
<li><a href="PagesBibtex.html">Pages-Bibtex</a></li>
<li><a href="Phd.html">PhD</a></li>
<li><a href="Programming.html">Programming</a></li>
<li><a href="Publications.html">publications</a></li>
<li><a href="Rails.html">Rails</a></li>
<li><a href="Rants.html">Rants</a></li>
<li><a href="RecentChangesToThisSite.html">Recent changes to this site</a></li>
<li><a href="RoadsGoodForTheEnvironment.html">Roads good for the environment</a></li>
<li><a href="Ruby.html">RUBY</a></li>
<li><a href="SidebarPage.html">Sidebar Page</a></li>
<li><a href="StuffForSaleGiveaway.html">Stuff for sale/giveaway</a></li>
<li><a href="StuffIDoAroundTheDepartment.html">Stuff I do around the department</a></li>
<li><a href="Suvs.html">SUVs</a></li>
<li><a href="TextileToHtml.html">Textile to HTML</a></li>
<li><a href="PictureOfTomCounsell.html">Picture of Tom Counsell</a></li>
</ul>

</body>
</html>
