<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stuff for sale&#x2F;giveaway</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Stuff for sale&#x2F;giveaway</h1>
  </header>
  <p>If you would like any of this stuff, or have questions, email me at <a href="mailto:tamc2@cam.ac.uk">tamc2@cam.ac.uk</a>.</p>
<p>Buyer collects from Chesterton Rd, Cambridge, UK.</p>
<h2>Furniture</h2>
<p>Ikea swivel chair. Blue. Goes up and down, round and round and has wheels. Hard wood, so not as comfortable as a standard office chair, but not bad and looks more stylish. £5 under offer!</p>
<p><a href="PictureOfIkeaChairThatIAmSelling.html"><img src="../Attachment/Picture21thumb.jpg" alt=""></a></p>
<p>Ikea drawer thing, handy for putting underneath your computer screen and storing stuff. Free. Claimed.</p>
<p><a href="PictureOfIkeaDrawersThatIAmSelling.html"><img src="../Attachment/Picture22thumb.jpg" alt=""></a></p>
<h2>PC computer Stuff</h2>
<ul>
<li><a href="http://www.dooyoo.co.uk/audio-output/creative-desktop-theatre-dtt2200/reviews/">Creative Desktop theater 5.1 DTT2200 speaker system</a>. 5 speakers plus bass bin. Gives very loud sound with a large dynamic range. Great for dvds and computer games. Has 3 analogue connectors, so may need a soundcard with similar outputs to get the best from it. £10. claimed.</li>
<li><a href="http://www.kodak.com/global/en/service/products/ekn007590.jhtml?pq-path=10/3905/3915/704">Kodak DC20 Digital Camera</a>, with cables and software. Very old digital camera. Low resolution (493×373 pixels) and serial interface. On the plus side it is very light and easy to use (one button!) so might be great for kids. Free. claimed.</li>
<li>2 PS/2 keyboards. 1 DIN keyboard. 1 PS/2 mouse. Free.</li>
<li>5m+? Cat 5E Ethernet cable. Free. claimed.</li>
</ul>
<h2>BBC Micro stuff</h2>
<ul>
<li>AMX Mouse. (Yes really, a mouse for a BBC model B. I think you needed a special ROM to use it). Free.</li>
<li>Voltmace Analogue Joystick. Free.</li>
<li>Printer cable. Free.</li>
</ul>
<h2>Misc Electrical</h2>
<ul>
<li>Battery charger. Can charge up to 4 BIG batteries! Free. Claimed.</li>
<li>Misc TV/FM cables. Male/Female. Extensions. Splitter. Random stuff. Free. Claimed.</li>
</ul>

</body>
</html>
