body {
  font-size: 0.7em;
  font-family: "Franklin Gothic Book"
}

#content {
  width: 100%;
  margin: 1em auto;  
  max-width: 50em;
}

td {
  font-size: 0.7em;
}

h1, #contact {
  width: 100%;
  text-align: center;
}

#contact {
  margin-bottom: 5em;
}

h1, h2 {
  color: #b00;
  font-family: "Big Caslon";
  font-weight: normal;
  margin-bottom: 0;
  text-transform: uppercase;
}

p, ol, ul {
  margin-top: 0;
}
